{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock%}

{% block meta_description %} This is the number one loan lending webiste. {% endblock%}

{% block content %}


    <main>

        <!-- slider Area Start-->
        <div class="slider-area slider-height" data-background="{% static 'website/assets/img/hero/h1_hero.jpg'%}">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your financial goal through us...</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Get hassle free loans from us.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'apply' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'website/assets/img/hero/hero_img2.jpg'%}"  alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your financial goal through us...</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Get loans in 5 minutes time.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'apply' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'website/assets/img/hero/hero_img.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider-footer Start -->
            <div class="slider-footer section-bg d-none d-sm-block">
                <div class="footer-wrapper">
                    <!-- single -->
                    <div class="single-caption">
                        <div class="single-img">
                            <img src="{% static 'website/assets/img/hero/hero_footer.jpg'%}" alt="">
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="caption">
                            <p>Quick & Easy Loan</p>
                            <p>In 10 minutes</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="caption">
                            <p>Quality Services</p>
                            <p>For our Customers</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-money"></span>
                        </div>
                        <div class="caption">
                            <p>Cash Provided Directly</p>
                            <p>Into your Mobile wallet</p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- slider-footer End -->

        </div>
        <!-- slider Area End-->

        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" data-background="{% static 'website/assets/img/gallery/section_bg02.jpg'%}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>The Services that we are offering.</span>
                            <h2>Personal finance that suits you.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-work"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{% url 'apply' %}">Business Loan</a></h5>
                                <p>Get quick loans to boost your business.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{% url 'apply' %}">Medical Loans</a></h5>
                                <p>Get access to loans to cater for your medical expenses.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan-1"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{% url 'apply' %}">Emergency Loans</a></h5>
                                <p>Sort all your emergency issue from us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-like"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{% url 'apply' %}">Personal Loan</a></h5>
                                <p>Get access to loans for your Personal use.</p>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
        <!-- Services Area End -->
                <!-- About Law Start-->
                <div class="about-low-area section-padding2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span>About Our Company</span>
                                        <h2>Building a Brighter financial Future & Good Support.</h2>
                                    </div>
                                    <p>We disburses loans to our customers quickly regardless of their credit rating history. You get access to loans from as low as Ksh. 500 upto Ksh. 10000</p>
                                    <p>Anyone with an access to internet can apply for a loan, get an instant decision and receive funds directly to their account.</p>
                                    <a href="{% url 'apply' %}" class="btn">Apply for Loan</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img ">
                                    <div class="about-font-img d-none d-lg-block">
                                        <img src="{% static 'website/assets/img/gallery/about2.jpg'%}" alt="">
                                    </div>
                                    <div class="about-back-img ">
                                        <img src="{% static 'website/assets/img/gallery/about1.jpg'%}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Law End-->
        <!-- Support Company Start-->
       
        <!-- Support Company End-->
        <!-- Application Area Start -->
        <div class="application-area pt-150 pb-140" data-background="{% static 'website/assets/img/gallery/section_bg03.jpg'%}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-45">
                            <span>Apply in Few Easy Steps</span>
                            <h2>Easy Application Process For Any Types of Loan</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-xl-8">
                        <!--Hero form -->
                        <form action="{% url 'apply' %}" class="search-box">
                            {% csrf_token %}
                            <div class="input-form">
                                <input type="number" max="5000" placeholder="Loan Amount" required>
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">Duration Month</option>
                                        <option value="">1 Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-form">
                                <input type="text" placeholder="8% pm interest" readonly>
                            </div>
                            <div class="search-form">
                                <a href="{% url 'apply' %}">Apply for Loan</a>
                            </div>	
                        </form>	
                    </div>
                </div>
            </div>
        </div>
        <!-- Application Area End -->
        <!--Team Ara Start -->
        
        <!-- Testimonial End -->
 
    </main>


{% endblock %}
     