{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BETTER LIFE FINANCIAL LOANS | Contact </title>
        <meta name="description" content="Fill free to contact us incase of any inquiry.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'website/assets/img/favicon.ico'%}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'website/assets/css/bootstrap.min.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/owl.carousel.min.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/slicknav.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/flaticon.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/animate.min.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/magnific-popup.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/fontawesome-all.min.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/themify-icons.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/slick.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/nice-select.css'%}">
            <link rel="stylesheet" href="{% static 'website/assets/css/style.css'%}">
   </head>


<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <a href="{% url 'home' %}"><img src="{% static 'website/assets/img/logo/logo.PNG'%}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="{% url 'home' %}"><img src="{% static 'website/assets/img/logo/log.PNG'%}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            
                                            <li><a href="{% url 'services' %}">Services</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                           
                                            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="{% url 'apply' %}" class="btn header-btn">APPLY NOW </a>
                                </div>
                            </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Loan Application</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- ================ contact section start ================= -->
        <br/><br/>
        {% if name %}
        <center>
            <h2>Thanks {{ fname }} for using our services!</h2>
            <p>Your loan application has been received and will be processed in 24hours time.</p>
        </center>
        <br/><br/>
        {% else %}

        <section class="contact-section">
            <div class="container">
                <center>
                    <p><b>CONGRATULATIONS!! {{ fname }}</b> You qualify for a loan limit of upto <b>Ksh.5,000/=.</b>
                        Please fill in the below details to continue with your loan application.Kindly not that a loan processing fee of <b>8%</b> of 
                        principal amount will be charged.
                    </p>
                </center><br/>
 
                <div class="row">
                    <!-- <div class="col-12">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div> -->
                    <div class="col-lg-8">
                        <form action="{% url 'loan' %}" method="post" class="form-contact contact_form" onsubmit=validateForm()>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col form-group">
                                    <label for="fname">LOAN AMOUNT(Ksh):</label>
                                    <input type="number"  name="amount" max="5000" class="form-control valid" id="name" placeholder="Enter Loan Amount"
                                           required>
                                </div>
                                <div class="col form-group">
                                    <label for="fname">PHONE NUMBER(2547xxxxx):</label>
                                    <input type="text" class="form-control valid" name="number" id="emailnumber" minlength="12" pattern="254.*" maxlength="12"
                                           placeholder="Enter Mobile Number e.g.254712345678" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fname">LOAN PURPOSE:</label>
                                    <input type="text" class="form-control valid" name="reason" id="email"
                                           placeholder="Enter Loan Purpose" required>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="button button-contactForm boxed-btn">PROCESS </button>
                            </div>
                        </form>
                        
                    </div>
                   
                </div>
            </div>
        </section>
        {% endif %}
        <!-- ================ contact section end ================= -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'website/assets/img/logo/log.PNG'%}" alt=""></a>
                                    </div>
                                    <div class="footer-pera">
                                        <p>Welcome to BETTER LIFE FINANCIAL LOANS where you get access to hassle free loans.</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <!-- <li><a href="#">Offers & Discounts</a></li>
                                        <li><a href="#">Get Coupon</a></li> -->
                                        <li><a href="{% url 'contact' %}"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <!-- <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#"> Privacy Policy</a></li> --> 
                                        <li><a href="{% url 'contact' %}">Report a Payment Issue</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | BETTER LIFE FINANCIAL LOANS. Developed  by <a href="#" target="_blank">Snex-Tech Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="{% url 'home' %}"><i class="fas fa-globe"></i></a>
                                <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->
	<script>
	  function validateForm() {
	   let myElement = document.getElementById("emailnumber");
	   if (x.startsWith('254')) {
	    return true;
	   } else {
	      alert("Number must start with 254");
	      return false;
	   }
	 }
	</script>
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'website/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'website/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'website/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'website/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'website/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'website/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'website/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'website/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'website/assets/js/animated.headline.js' %}"></script>
		
		<!-- Nice-select, sticky -->
        <script src="{% static 'website/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'website/assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.magnific-popup.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'website/assets/js/contact.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'website/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'website/assets/js/plugins.js' %}"></script>
        <script src="{% static 'website/assets/js/main.js' %}"></script>

    </body>
    
</html>


